.posty_frame{
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posty_frame::-webkit-scrollbar{
    display: none;
}
.postbox{
    height: 590px;
    width: 100%;
    background-color: rgb(54, 55, 64);
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    min-width: 840px;
}
.postbox img {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    margin: auto; 
}


body::-webkit-scrollbar{
    display: none;
}
.gora{
    width:calc(100% - 16px);
    height: 65%;
    background-color: rgb(52, 55, 58);
    margin: 8px;
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;

}
.dol{
    margin-left: 6px;
    height: 30%;
    width: calc(100% - 16px);
    border: 2px solid white;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.ikonka{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 4px;
}
.tytulpost{
    width: 80%;
    height: 35px;
    font-size: large;
    padding-top: 5px;
    padding-left: 5px;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.kontener_komentarzy{
    width: 65%;
    height: calc(calc(100% - 48px));
    display: flex;
    flex-direction: column;
}
.komentarzepost{
    margin-bottom: 4px;
    width: 100%;
    height: 30%;
    background-color: rgb(161, 161, 161);
    border-radius: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Comic Sans MS', cursive;
}

.zdj_post{
    filter: alpha(opacity=96);
    opacity: 0.96;
    transition: 0.4s all;
}
.zdj_post:hover{
    filter: alpha(opacity=100);
    opacity: 1;
    transition: 0.4s all;
}
.zdjeciegaleria{
    width: 150%;
    height: 100%;
    background-color: rgb(25,235,81);
}

.galeria{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 3000px;
}
.film{
    height: 100%;
    width: 100%;
    display: flex;
}
.lista_postow{
    list-style-type: none;
    padding-left: 0px;
}
.powrot{
    width: 40%;
    height: 50px;
    background-color: rgb(184, 189, 189);
    border-radius: 25px;
    transition: all 0.1s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: larger
}